<%-include('header.ejs')%>
<div id="container">
  <div
    class="parent"
    style="padding-top: 6em; margin: 6.5em auto; width: 80%; position: relative"
  >
    <div
      class="first"
      style="
        width: 42%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <div style="display: grid; place-items: center">
        SQL; Structured Query Language;
      </div>
    </div>
    <div
      class="second"
      style="
        width: 42%;
        float: right;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <div style="display: grid; place-items: center">
        NoSQL; Not Structured Query Language;
      </div>
    </div>
  </div>
  <%-include('footer.ejs')%>
</div>
