<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

      .nanum-myeongjo-bold {
        font-family: "Nanum Myeongjo", serif;
        font-weight: 700;
        font-style: normal;
      }

      a {
        color: black;
        text-decoration: none;
      }
      html,
      body {
        /* position: absolute; */
      }

      header {
        /* border-bottom: 1px solid #aaa; */
        /* margin-bottom: 10px;
        padding-bottom: 10px; */

        display: grid;
        place-items: center;
        background-color: bisque;
        position: fixed;
        left:0;
        right:0;
        top:0;

        /* position: fixed; */
      }

      nav {
        height: 5em;
        line-height: 5em;
        font-size: 1.3em;
        /* position: fixed; */
      }

      footer {
        display: grid;
        height: 5em;
        position: fixed;
        left:0;
        right:0;
        bottom: 0;
        background-color: bisque;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="nanum-myeongjo-bold">
        <a href="/">홈 </a> | <a href="/profile">프로필</a> |
        <a href="/map">찾아오시는길</a> |
        <a href="/contact">문의하기</a>
      </nav>
    </header>

    <article style="position:absolute; background-color: brown; top:5em; height: 100%; width:100%;">

        <div class="nanum-myeongjo-bold" style="font-size: 3em; padding-left: 2em; padding-top:4em;">
            안녕하세요. <br>
            O O O Engineer 박우선입니다.
        </div>

    <!-- 우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br>
    우선이의 홈페이지에 오신걸 환영합니다. !!!!<br> -->
  
    </article>
    <footer>
      <hr />
      <p>copyright 우선 all right reserved.</p>
    </footer>
  </article>
</html>
