<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

      .nanum-myeongjo-bold {
        font-family: "Nanum Myeongjo", serif;
        font-weight: 700;
        font-style: normal;
      }

      a {
        color: black;
        text-decoration: none;
      }
      html,
      body {
        /* position: absolute; */
        margin:0;
        padding:0;
      }

      header {
        /* border-bottom: 1px solid #aaa; */
        /* margin-bottom: 10px;
        padding-bottom: 10px; */

        display: grid;
        place-items: center;
        background-color: bisque;
        position: fixed;
        z-index: 1000;
        left:0;
        right:0;
        top:0;
      }

      nav {
        height: 5em;
        line-height: 5em;
        font-size: 1.3em;
      }

      footer {
        display: grid;
        height: 5em;
        position: fixed;
        left:0;
        right:0;
        bottom: 0;
        background-color: bisque;
      }
    </style>
  </head>
  <body class="nanum-myeongjo-bold">
    <header>
      <nav>
        <a href="/">홈 </a> | <a href="/qualification">자격 & 활동사항</a> |
        <a href="/project">프로젝트</a> |
        <a href="/contact">문의하기</a> |
        <a href="/engineer">Engineering</a>
      </nav>
    </header>
    <div id="container">
      <div class="parent" style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative; background-color: brown;">
        <div class="first" style="width:30%; float:left;border: 1px solid black; box-sizing: border-box;">
          first
        </div>
        <div class="second" style="width:30%; float:left; margin-left:5%; border: 1px solid black; box-sizing: border-box;">
          second
        </div>
        <div class="third" style="width:30%; float:left; margin-left:5%; border: 1px solid black; box-sizing: border-box;">
          third
        </div>
      </div>
      <div class="parent" style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative; background-color: aquamarine;">
        <div class="first" style="width:30%; float:left;border: 1px solid black; box-sizing: border-box;">
          first
        </div>
        <div class="second" style="width:30%; float:left; margin-left:5%; border: 1px solid black; box-sizing: border-box;">
          second
        </div>
        <div class="third" style="width:30%; float:left; margin-left:5%; border: 1px solid black; box-sizing: border-box;">
          third
        </div>
      </div>
      <div class="parent" style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative; background-color:aqua;">
        <div class="first" style="width:30%; float:left;border: 1px solid black; box-sizing: border-box;">
          first
        </div>
        <div class="second" style="width:30%; float:left; margin-left:5%; border: 1px solid black; box-sizing: border-box;">
          second
        </div>
        <div class="third" style="width:30%; float:left; margin-left:5%; border: 1px solid black; box-sizing: border-box;">
          third
        </div>
      </div>
    </div>

    <footer>
      <hr />
      <p style="padding-left: 2em;">copyright 우선 all right reserved.</p>
    </footer>
  </article>
</html>
