<%-include('header.ejs')%>
<div id="container">
  <div
    class="parent"
    style="padding-top: 6em; margin: 6.5em auto; width: 80%; position: relative"
  >
    <!--background-color: brown;-->
    <div
      class="first"
      style="
        width: 42%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- first -->
      <div style="display: grid; place-items: center">
        <p style="margin-bottom: 1em">Preprocessing data</p>
        <p style="margin-bottom: 1.5em">솔트룩스이노베이션(주)</p>
      </div>
    </div>
    <div
      class="second"
      style="
        width: 42%;
        float: right;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- second -->
      <div style="display: grid; place-items: center">
        <p>Analysis data</p>
        <p>광주인공지능사관학교</p>
      </div>
    </div>
  </div>
  <div
    style="padding-top: 6em; margin: 6.5em auto; width: 80%; position: relative"
  >
    <div
      style="
        width: 42%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <div style="display: grid; place-items: center">
        <p>Creating webSite</p>
        <p>individual study</p>
        <!-- <p>connecting DB, hosting</p> -->
      </div>
    </div>
    <!--background-color: aquamarine;-->
    <div
      style="
        width: 42%;
        float: right;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- second -->
      <div style="display: grid; place-items: center">
        <p>Plan a webSite</p>
        <p>data portal, AR Education program</p>
      </div>
    </div>
  </div>
</div>
<%-include('footer.ejs')%>
