<%-include('header.ejs')%>
<div id="container">
  <div
    class="parent"
    style="padding-top:5em; padding-bottom: 3em; margin:6.5em; auto; width:90%; position: relative;"
  >
    <div
      class="first"
      style="
        background-color: aquamarine;
        height: 180px;

        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>기업 연계 프로젝트 최우수상</p>
        <p style="margin-bottom: 1.5em">2023</p>
        <img src="/images/nipaLogo.png" alt="nipa">
      </div>
    </div>
    <div
      class="second"
      style="
      background-color: blueviolet;
      height: 180px;


        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>마이데이터 국민참여단 활동 수료</p>
        <p>2023</p>
        <img src="/images/KdataLogo.png" alt="kdata">
      </div>
    </div>
    <div
      class="third"
      style="
      background-color:dodgerblue;
      height: 180px;


        width: 30%;
        float: right;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>AI-900</p>
        <p>2023</p>
        <img src="/images/MSLogo.png" alt="microsoft">
      </div>
    </div>
  </div>
  <div
    class="parent"
    style="padding-top:5%;  padding-bottom: 3em; margin:6.5em; auto; width:90%; position: relative; "
  >
    <div
      class="first"
      style="
      background-color: aquamarine;
      height: 180px;


        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>빅데이터분석기사</p>
        <p>2023</p>
        <img src="/images/KdataLogo.png" alt="kdata">
      </div>
    </div>
    <div
      class="second"
      style="background-color: blueviolet;
      height: 180px;

        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>SQLD</p>
        <p>2022</p>
        <img src="/images/KdataLogo.png" alt="kdata">
      </div>
    </div>
    <div
      class="third"
      style="background-color:dodgerblue;
      height: 180px;


        width: 30%;
        float: right;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>사무자동화산업기사</p>
        <p>2021</p>
        <img src="/images/HRDKLogo.png" alt="hrdk">
      </div>
    </div>
  </div>
  <div
    class="parent"
    style="padding-top:5%; padding-bottom:10em; margin:6.5em; auto; width:90%; position: relative;"
  >
    <div
      class="first"
      style="background-color: aquamarine;
      height: 180px;

        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>정보처리기사</p>
        <p>2019</p>
        <img src="/images/HRDKLogo.png" alt="hrdk">
      </div>
    </div>
    <div
      class="second"
      style="background-color: blueviolet;
      height: 180px;

        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>국가공인글쓰기</p>
        <p>2019</p>
        <img src="/images/writingCertLogo.png" alt="writingcert">
      </div>
    </div>
    <div
      class="third"
      style="background-color:dodgerblue;
      height: 180px;


        width: 30%;
        float: right;
        border: 1px solid black;
        box-sizing: border-box;
        padding-bottom: 1em;
      "
    >
      <div style="display: grid; place-items: center">
        <p>ADsP 2021, 운전면허 2016</p>
        <p>
          한국데이터산업진흥원 <br />
          경찰청
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <%-include('footer.ejs')%> -->

<footer style="display: relative;
height: 5em;
background-color: bisque;">
  <hr />
  <p style="padding-left: 2em;padding-top:1.2em;">copyright 우선 all right reserved.</p>
</footer>
</article>
</html>