<%-include('header.ejs')%>
<div id="container">
  <div
    class="parent"
    style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative; background-color: brown;"
  >
    <div
      class="first"
      style="
        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      first
    </div>
    <div
      class="second"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      second
    </div>
    <div
      class="third"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      third
    </div>
  </div>
  <div
    class="parent"
    style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative; background-color: aquamarine;"
  >
    <div
      class="first"
      style="
        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      first
    </div>
    <div
      class="second"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      second
    </div>
    <div
      class="third"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      third
    </div>
  </div>
  <div
    class="parent"
    style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative; background-color:aqua;"
  >
    <div
      class="first"
      style="
        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      first
    </div>
    <div
      class="second"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      second
    </div>
    <div
      class="third"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      third
    </div>
  </div>
</div>

<%-include('footer.ejs')%>
