<%-include('header.ejs')%>
<div id="container">
  <div
    class="parent"
    style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative;"
  >
    <!--background-color: brown;-->
    <div
      class="first"
      style="
        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- first -->
      <div style="display: grid; place-items: center">
        <img
          src="C:\Program Files\nodejs\img\nipaLogo-removebg-preview.png"
          alt="nipaLogo"
        />
        <p style="margin-bottom: 1em">기업 연계 프로젝트 최우수상</p>
        <p style="margin-bottom: 1.5em">2023</p>
        <p style="font-weight: bold">정보통신산업진흥원</p>
      </div>
    </div>
    <div
      class="second"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- second -->
      <div style="display: grid; place-items: center">
        <img
          src="C:\Program Files\nodejs\img\2019 Kdata CI Signature-09.png"
          alt="kdataLogo"
        />
        <p>마이데이터 국민참여단 활동 수료</p>
        <p>2023</p>
        <p>한국데이터산업진흥원</p>
      </div>
    </div>
    <div
      class="third"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- third -->
      <div style="display: grid; place-items: center">
        <p>AI-900</p>
        <p>2023</p>
        <p>MicroSoft</p>
      </div>
    </div>
  </div>
  <div
    class="parent"
    style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative; "
  >
    <!--background-color: aquamarine;-->
    <div
      class="first"
      style="
        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- first -->
      <div style="display: grid; place-items: center">
        <p>빅데이터분석기사</p>
        <p>2023</p>
        <p>한국데이터산업진흥원</p>
      </div>
    </div>
    <div
      class="second"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- second -->
      <div style="display: grid; place-items: center">
        <p>SQLD</p>
        <p>2022</p>
        <p>한국데이터산업진흥원</p>
      </div>
    </div>
    <div
      class="third"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- third -->
      <div style="display: grid; place-items: center">
        <p>사무자동화산업기사</p>
        <p>2021</p>
        <p>한국산업인력공단</p>
      </div>
    </div>
  </div>
  <div
    class="parent"
    style="padding-top:5em; margin:6.5em; auto; width:90%; position: relative;"
  >
    <!-- background-color:aqua; -->
    <div
      class="first"
      style="
        width: 30%;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- first -->
      <div style="display: grid; place-items: center">
        <p>정보처리기사</p>
        <p>2019</p>
        <p>한국산업인력공단</p>
      </div>
    </div>
    <div
      class="second"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- second -->
      <div style="display: grid; place-items: center">
        <p>국가공인글쓰기</p>
        <p>2019</p>
        <p>한국국어능력평가협회</p>
      </div>
    </div>
    <div
      class="third"
      style="
        width: 30%;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
        box-sizing: border-box;
      "
    >
      <!-- third -->
      <div style="display: grid; place-items: center">
        <p>ADsP 2021</p>
        <p>운전면허 2016</p>
        <p>
          한국데이터산업진흥원 <br />
          경찰청
        </p>
      </div>
    </div>
  </div>
</div>

<%-include('footer.ejs')%>
